#albums{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.album{
    margin: 20px;
    padding: 20px;
    border: 2px solid goldenrod;
    grid-gap: 20px;
}
h1{
    text-align: center;
    text-decoration: underline;
}

.btn{
    text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;

}

button:hover {
  background-color: #45a049; 
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.98);
  background-color: #3e8e41;
}
